<div class="col-md-6 user-container">
  <h2 style="margin: auto"> User Details</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>

      <th>FirstName</th>
      <th>LastName</th>
      <th>UserName</th>
      <th>Email</th>
     <th>address</th>
      <th>Mobile</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">

      <td>{{user.User.firstName}}</td>
      <td>{{user.User.lastName}}</td>
      <td>{{user.User.username}}</td>
      <td>{{user.User.email}}</td>
     <td>{{user.User.address}}</td>
      <td>{{user.User.mobile}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
